# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.dylib

# Compiled Static libraries
*.lai
*.la

*Debug.win32*

# Ignore files build by xcode
*.mode*v*
*.pbxuser
*.xcbkptlist
*.xcscheme
*.xcworkspacedata
*.xcuserstate
xcschememanagement.plist
build/
.DS_Store
._.*
xcuserdata/
DerivedData/
*.xcuserstate
